h1 {
    margin-bottom: 0;
}

.clue-item {
    margin-bottom: 10px;
    list-style: none;
}

.clue-name {
    width: 100%;
    padding: 10px;
    background: #c46788;
    border: 2px solid transparent;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s, border 0.3s;
    text-align: left;
}

.clue-name:hover {
    background: #e08baf;
}

.clue-details {
    display: none;
}

.clue-details > p {
    background: #b84c79;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    text-align: left;
}

.clue-details.hidden {
    display: none;
}

.clue-actions {
    display: flex;
    /* gap: 10px; */
    justify-content: space-between;
    align-items: center;
    /* margin-top: 10px; */
}

.clue-action {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.clue-action:hover {
    transform: scale(1.2);
}

.clue-done {
    background-color: rgb(82, 126, 82) !important;
}

.clue-not-working {
    background-color: #3b3b3b !important;
    color: #d3d3d3;
}

.clue-unsure {
    background-color: rgb(248, 101, 101) !important;
}


.clue-parent {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    gap: 1em;
}

.clue-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    /* padding: 10px; */
    background: #c46788;
    border: 2px solid transparent;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s, border 0.3s;
    text-align: left;   
}

.clear-all-button {
    width: 25%;
    margin-left: 75%;
    padding: 10px;
    background: #c46788;
    border: 2px solid transparent;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s, border 0.3s;
    text-align: left;
}